
.laranja{
  --color-text-orange: #E34F26;
  color: var(--color-text-orange);
}
.azul{
  ---color-text-blue: #146082;;
  color:  var(---color-text-blue);
}
.amarelo{
  --color-text-yellow: #E9CA32;
  color: var(--color-text-yellow);
}

.bg-amarelo{
  --color-bg-yellow: #FDA21D;
  background-color: var(--color-bg-yellow);
}

.bg-formacao{
  --color-bg-pink: #FB0DAF;
  --color-bg-yellow: #FDA21D;
  background-image: linear-gradient(90deg, var(--color-bg-pink), var(--color-bg-yellow));
}


