.bg-contato-box{
  padding: 180px 20px 100px 20px;
}

.contato-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contato-grid li a{
  color: #fff;
}

.contato-grid li a:hover{
  color: #ffffff80;
}

#contato{
  margin-top: -40px;
}

[data-contato="navegacao"] {
  display: grid;  
  justify-content: end;
}

[data-contato="navegacao"] a{
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 6px;
  color: #fff;
  font-weight: 600;
}

[data-contato="navegacao"] img{
  width: 20px;
  padding-top: 4px;
}


@media (max-width:980px){
  #contato{
    font-size: 4.5rem !important;
  }
}
@media (max-width:980px){
  #contato{
    text-align: center !important;
    grid-row: 1;
  }
}

