[data-header="bgClaro"]{
  background-image: url(../img/header/bg-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 590px;
}

[data-header="navHeader"]{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 100px 20px 140px;
}

[data-header="navHeader"] a{
  border-left: 4px solid transparent;
  padding-left: 4px;
  color: #fff;
}
[data-header="navHeader"] a:hover{
  border-left: 4px solid #fff;
  transition: .2s;
}

[data-header="navMenu"]{
  display: flex;
  gap: 25px;
}

[data-img="perfil"]{
  margin-top: 40px;
  object-fit: cover;
  width: 280px;
  display: block;
}

#perfil{
  z-index: 1;
}


#foguete{
  width: 500px;
  position: absolute;
  top: 300px;
  left: 80px;
}

#planet{
  width: 160px;
  position: absolute;
  top: 480px;
  right: 180px;
  z-index: 2;
}

@media (max-width:980px){
  [data-header="bgClaro"]{
    height: 450px;
  }

  [data-img="perfil"]{
    margin: 40px auto;
    width: 200px;
  }

  #foguete{
    width: 300px;
    position: absolute;
    top: 270px;
    left: 30px;
  }
  
  #planet{
    width: 100px;
    position: absolute;
    top: 320px;
    right: 180px;
  }
  
  [data-header="title"]{
    font-size: 2.5rem !important;
  }
  
  [data-header="navHeader"]{
    padding: 28px 40px 20px 60px;    
  }
}

@media (max-width:800px){
  [data-header="bgClaro"]{
    height: 350px;
  }
}


@media (max-width:650px){
  [data-header="bgClaro"]{
    background-size: 175%;
    height: 600px;
  }

  #planet{
    display: none;
  }
  
  #foguete{
    width: 300px;
    position: absolute;
    top: 220px;
    left: 30px;
  }
  [data-header="navHeader"]{
    flex-direction: column;
  }
}
@media (max-width:550px){
  [data-header="bgClaro"]{
    background-size: 200%;
    height: 600px;
  }
  
}
@media (max-width:450px){
  #foguete{
    width: 200px;
    top: 240px;
    left: 20px;
  }
  
  [data-header="bgClaro"]{
    background-size: 275%;
    height: 600px;
  }
  
}
