[data-header="bgClaro"]{
  background-image: url(../img/header/bg-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 590px;
}

[data-header="navHeader"]{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 100px 20px 140px;
}

[data-header="navHeader"] a{
  color: #fff;
}

[data-header="navMenu"]{
  display: flex;
  gap: 25px;
}

[data-img="perfil"]{
  margin-top: 40px;
  object-fit: cover;
  width: 280px;
  display: block;
}

#foguete{
  width: 500px;
  position: absolute;
  top: 300px;
  left: 80px;
}

#planet{
  width: 160px;
  position: absolute;
  top: 480px;
  right: 180px;
}

@media (max-width:980px){
  [data-header="bgClaro"]{
    height: 450px;
  }
  
  [data-img="perfil"]{
    width: 200px;
  }

  #foguete{
    width: 300px;
    position: absolute;
    top: 270px;
    left: 30px;
  }
  
  #planet{
    width: 100px;
    position: absolute;
    top: 380px;
    right: 180px;
  }
  
  [data-header="title"]{
    font-size: 2.5rem !important;
  }
}
@media (max-width:800px){
  [data-header="bgClaro"]{
    height: 350px;
  }
}
@media (max-width:450px){
  [data-header="navHeader"]{
    flex-direction: column;
  }
}
