[data-main="projetos"]{
  overflow-x: auto;
  padding: 68px 0;
}

main .carousel{
  padding-left:140px;
  padding-right:140px;
  display: flex;
  gap: 100px;
}

.carousel::-webkit-scrollbar{
  height: 12px;
}

.carousel::-webkit-scrollbar-track{
  background-color: #FDA21D;

}
.carousel::-webkit-scrollbar-thumb{
  background-color: #f39c18;
  border-radius: 20px;
  
}

[data-main="carousel-img"]{
  height: 400px;
}