[data-main="projetos"]{
  padding: 68px 0;
  overflow-x: auto;
  box-shadow: inset 300px 0px #ffffff;
}

main .carousel{
  padding-left:140px;
  padding-right:140px;
  display: flex;
  gap: 100px;
}

.carousel::-webkit-scrollbar{
  height: 12px;
}

.carousel::-webkit-scrollbar-track{
  background-color: #f5f5f500;
  
}
.carousel::-webkit-scrollbar-thumb{
  background-color: #f39c18;
  border-radius: 20px;
  
}

[data-main="carousel-img"]{
  height: 320px;
}


@media (max-width:980px){
  #img-icones-tecnologias{
    width: 250px;
  }
  
  [data-main="carousel-img"]{
    height: 250px;
  }
  
  #tecnologias{
    padding: 0 20px !important;
  }
}
@media (max-width:650px){
  main .carousel{
    padding-left:20px;
    padding-right:20px;
    gap: 60px;
  }
  [data-main="projetos"]{
    padding: 20px 0;
  }
}

@media (max-width:400px){
  [data-main="projetos"]{
    box-shadow: inset 80px 0px #ffffff;
  }
}